/* styles.css */

body {
  margin: 0;
  padding: 0;
  background-image: url('https://res.cloudinary.com/dl1yqlzar/image/upload/v1701959172/johny-goerend-U_diPCXCBxU-unsplash_cxzzli.jpg');
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

.banner {
  text-align: center;
  padding: 50px;
  position: relative;
  color: #333;
}

.scrollable-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
  background-color: #f7f1e4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.creator-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.creator-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.get-started-button {
  display: inline-block;
  background-color: #D3615D;
  color: #ffffff;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
}

.get-started-button:hover {
  background-color: #761f1a;
  text-decoration: none;
  color: white;
}


.creator-card {
  max-width: 400px;
  margin: auto;
  text-align: left;
  background-color: #f3000013;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.creator-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.creator-card h4 {
  color: #333;
}

.creator-card p {
  color: #666;
}

.app-features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  max-width: 300px;
  margin: 20px;
  text-align: center;
}

.section{
  padding: 40px;

  &{
    h2 {
      text-align: center;
      color: white;
    }

    h3, h4, p{
      color: white;
    }
  }
}

h1 {
  font-size: 5rem;
  color: aliceblue;
  text-align: center;
}

.title-card {
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  align-items: start;
}

.title-card:hover {
  transform: scale(1.05);
}

.footer-card{
  text-align: center;
}

@media(max-width: 425px) {
  h1 {
    font-size: 4rem;
  }
  h3{
    font-size: 1.2rem;
  }
}
@media(max-width: 325px) {
  h1 {
    font-size: 3rem;
  }
  h3{
    font-size: 1rem;
  }
}

.logo-home {
  height: 150px;
  width: 150px;
}
