<div class="container my-5">
  <div class="banner text-center">
    <h1>My Rewards</h1>
    <p>Let's see how many rewards your hard work gave you 😎</p>
  </div>
</div>


<div class="container mt-2 ">
  <div class="row">
    <% @rewards.each do |reward| %>
      <div class="col-6 col-md-4 col-lg-2">
          <div class="journey-card">
           <div class="journey-card-inner">
            <div class="journey-card-front">
              <img class='journey-image' src="https://res.cloudinary.com/dxrwfnroj/image/upload/v1701435551/logo_gpm6ug.png" >
              <div class="journey-card-title">
                <%= reward.name %>
              </div>
            </div>
            <div class="journey-card-back">
              <div class="journey-details">
                <%= reward.description %>
              </div>
            </div>
          </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
