<div class="container py-5">
  <div class="row bg-white justify-content-center rounded-3 p-4 col-lg-5 col-md-6 col-sm-8 mx-auto">
    <h3 class="mb-4 text-center">Let's see what are you interested in.</h3>
    <%= image_tag "https://res.cloudinary.com/dxrwfnroj/image/upload/v1701435525/img-career_qkhpkc.jpg", class: "img-fluid rounded-circle mb-4 mx-auto d-block", style: "max-width: 50%"%>
    <p class="mt-4 fs-5 text-center mb-4">What do you wish to work on throughout this journey?</p>
    <%= simple_form_for @user do |form| %>
      <%= form.input :career, as: :check_boxes, collection: ['Front-End Development', 'Back-end Development', 'Data Science', 'Data Analyst'], label: " " %>
      <%= form.submit "Create", class:"btn-career" %>
    <% end %>
  </div>
</div>
