<footer>
  <div class='footer-container'>
    <div id='footer1'>
      <p class='my-3'>Contact Us</p>
      <p>contact@journey60.me</p>
    </div>

    <div id='footer2'>
      <p class='my-3'>Follow us</p>
      <p>@journey60</p>
    </div>
  </div>
  <p class='rights'>Terms | Support | Privacy Policy | Cookie Policy</p>
  <p class='rights m-0'>&copy; <%= Time.now.year %> Journey60. All rights reserved.</p>
</footer>
