<div class="background-image">-->
  <div class="banner">
    <h1>JOURNEY 60</h1>
    <p>Unleash Your Full Potential <br> Transform in 60 Days</p>
  </div>


  <div class="scrollable-text">
    <div class="card">
      <h2>The Journey</h2>
      <p>Journey 60 is a transformative program designed for individuals feeling trapped in their daily routines, particularly recent boot camp graduates aiming to launch their careers in the challenging field of development. The program addresses this pain point by offering participants a structured journey through six life-altering rules over 60 days. These rules encompass goal-setting, habit-building, and personal growth techniques, empowering individuals to break free from stagnation and propel their lives forward.</p>
    </div>

    <%= link_to 'Join Us!', new_user_registration_path, class: "styled-button no-underline btn-lg" %>

    <div class="card">
      <h2>Nice to meet you</h2>
      <p>Description about the creators</p>
    </div>

    <div class="card">
      <div class="creator-info">
        <img src="/assets/Karol.png" alt="">
          <div class="text">
            <h4>Karoline Ferreira</h4>
            <p>My name is Karoline, I'm from Brazil and I'm excited to start learning to code :)</p>
          </div>
        </div>
    </div>

    <div class="card">
      <div class="creator-info">
        <img src="/assets/Stella.png" alt="">
          <div class="text">
            <h4>Stella Mascaro</h4>
            <p>I struggled to find my vocation as a teenager, and recently, I shifted my studies to something related to technology, which has always fascinated me. Last year, I started studying Computer Science, and I fell in love with it right away. However, I still felt like something was missing. Then, a colleague recommended Le Wagon, which was exactly what I was looking for in my programming journey. I'm really excited and looking forward to what seems like a life-changing experience!</p>
          </div>
      </div>
    </div>

    <div class="card">
      <div class="creator-info">
      <img src="/assets/Tais.JPG" alt="">
        <div class="text">
          <h4>Tais Amorim</h4>
          <p>My unique journey began with over a decade of working on cruise ships, allowing me to travel the world and immerse myself in information technology (IT). This experience taught me the value of diversity and a mindset of continuous learning. I'm excited to apply my IT passion to future opportunities and collaborate with people from diverse backgrounds, believing that innovation arises from such diversity. I'm committed to making a meaningful contribution and continuing my journey of growth, both personally and professionally.</p>
        </div>
      </div>
    </div>

  </div>
</div>
