<div class="background-container">
  <div class="banner">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
      <img class="logo-home" src="https://res.cloudinary.com/dl1yqlzar/image/upload/v1701890911/logo_noname_ackguh.png">
    </div>
      <h1><strong>Journey 60</strong></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="title-card-two col-sm-8 col-md-6 col-lg-4 mt-4">
        <p class="description">Journey 60 is your personal guide to success after completing a bootcamp. Seamlessly integrate into the tech world by using our app to track your daily routine, build positive habits, and enhance your skills. Elevate your job-seeking journey with Journey 60 – the tool designed to transform your post-bootcamp experience and empower you for a successful career in tech.</p>
      </div>
      <div class="title-card-one col-sm-8 col-md-6 col-lg-4 mt-4">
        <p class="second-title mb-6">Unleash your full potential and transform in 60 days. Are you ready to join this journey? </p>
        <div class="button-container mt-4">
          <%= link_to 'Get started', journeys_path, class: "get-started-button text-center" %>
       </div>
     </div>
    </div>
  </div>

  <div class="section">
    <h1 class="mb-9"><strong>Check out our features</strong></h1>

    <div class="app-features">
      <div class="feature card col-lg-3 col-md-6 col-sm-8">
        <h3 class="mb-4">Best mobile site & app</h3>
        <div class="m-3">
          <i class="fa-solid fa-mobile" style="color: #ffffff; font-size: 3rem;"></i>
        </div>
        <p class="mt-3">Featured by Apple and Google</p>
      </div>
      <div class="feature card col-lg-4 col-md-6 col-sm-8">
        <h3 class="mb-5">App Store rating</h3>
        <div class="m-3">
          <i class="fa-solid fa-star" style="color: #ffffff;"></i>
          <i class="fa-solid fa-star" style="color: #ffffff;"></i>
          <i class="fa-solid fa-star" style="color: #ffffff;"></i>
          <i class="fa-solid fa-star" style="color: #ffffff;"></i>
          <i class="fa-solid fa-star-half-stroke" style="color: #ffffff;"></i>

        </div>
        <p class="mt-3">3 downloads</p>
      </div>
      <div class="feature card col-lg-4 col-md-6 col-sm-8">
        <h3>Habit building & management</h3>
        <div class="m-3">
          <i class="fa-solid fa-list-check" style="color: #ffffff; font-size: 3rem;"></i>
        </div>
        <p>Easily set goals and manage your habits with our intuitive and user-friendly interface...</p>
      </div>
    </div>

    <div class="app-features">
      <div class="feature card">
        <h3>Statistics</h3>
        <div class="m-3">
          <i class="fa-solid fa-chart-line" style="color: #ffffff; font-size: 3rem;"></i>
        </div>
        <p>Monitor your progress with detailed analytics and visualizations with our advanced habit-tracking feature...</p>
      </div>
      <div class="feature card">
        <h3>Challenges</h3>
        <div class="m-3">
          <i class="fa-solid fa-ranking-star" style="color: #ffffff; font-size: 3rem;"></i>
        </div>
        <p>Boost your productivity, enhance your well-being, and transform your behavior with exciting challenges!...</p>
      </div>
      <div class="feature card">
        <h3>Smart reminders</h3>
        <div class="m-3">
          <i class="fa-solid fa-bell" style="color: #ffffff; font-size: 3rem;"></i>
        </div>
        <p>Productive habit tracker app ensures you stay on top of your daily tasks with location-based and time-specific reminders...</p>
      </div>
    </div>

    <h1 class="mt-5 mb-4"><strong>Nice to meet you</strong></h1>

    <div class="app-features">
      <div class="card col-lg-3 col-md-6">
        <div class="creator-info">
          <img src="https://res.cloudinary.com/dxrwfnroj/image/upload/v1701435534/Karol_u3fjjy.png" alt="">
            <div class="text">
              <h4>Karoline Ferreira</h4>
              <p>Hi all! I'm Karoline and I'm here because I have worked in the tech industry for a few years (in the customer success area, more specifically), and ever since I've wanted to learn more about programming. I have a bachelor's degree in International Relations and lived in Colombia for 3 years, which was where I had my first job in a tech company.</p>
            </div>
          </div>
      </div>

      <div class="card col-lg-3 col-md-6">
        <div class="creator-info">
          <img src="https://res.cloudinary.com/dxrwfnroj/image/upload/v1701435569/Stella_v2akbd.png" alt="">
            <div class="text">
              <h4>Stella Mascaro</h4>
              <p>I struggled to find my vocation as a teenager, and recently, I shifted my studies to something related to technology, which has always fascinated me. Last year, I started studying Computer Science, and I fell in love with it right away. However, I still felt like something was missing. Then, a colleague recommended Le Wagon, which was exactly what I was looking for in my programming journey. I'm really excited and looking forward to what seems like a life-changing experience!</p>
            </div>
        </div>
      </div>

      <div class="card col-lg-3 col-md-6">
        <div class="creator-info">
        <img src="https://res.cloudinary.com/dxrwfnroj/image/upload/v1701435574/Tais_koqffd.jpg" alt="">
          <div class="text">
            <h4>Tais Amorim</h4>
            <p>My unique journey began with over a decade of working on cruise ships, allowing me to travel the world and immerse myself in information technology (IT). This experience taught me the value of diversity and a mindset of continuous learning. I'm excited to apply my IT passion to future opportunities and collaborate with people from diverse backgrounds, believing that innovation arises from such diversity. I'm committed to making a meaningful contribution and continuing my journey of growth, both personally and professionally.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-card m-5 card col-lg-4 col-md-6 col-sm-8 mx-auto">
      <h4 class="mb-4">Build and track habits that can change your life</h4>
      <%= link_to 'Try it now', journeys_path, class: "get-started-button" %>
    </div>
  </div>
</div>
