.navbar-lewagon {
  justify-content: space-between;
  background:  #f7f1e4;
}

// #b37ec8

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.custom-name {
  color: #adb5bd;
  font-size: 24px;
  font-family: fantasy;
  color: #6c757d;
}

.avatar {
  width: 55px;
  height: 55px;
}

.nav-link {
  color: rgb(82, 165, 164);
}

.dropdown-menu {
  background-color: #d9cadf;
}
