<div class="container py-5">

  <%= link_to raw('<i class="fa-solid fa-arrow-left"></i> Back to cards'), journeys_path, class: 'btn btn-dark rounded-1' %>

  <div class="row justify-content-center">
    <div class="col-8 col-md-7">
      <div class="text-center bg-white radius p-3 shadow">
        <h2><strong>Your challenges</strong></h2>
        <h2 class="mb-4">Let's go!</h2>
        <div class="challenges" data-controller="challenges">
          <% @journey.challenges.each do |challenge| %>
            <div class="challenge">
              <%= render partial: 'challenges/challenge', locals: { journey: @journey, challenge: challenge } %>
            </div>
          <% end %>
          <div>
          <% completed = @journey.challenges.select { |challenge| challenge.completed == true } %>
            <% if @journey.challenges.length == completed.length%>
              <%= link_to 'Reward', reward_path(3), class: 'reward-btn btn btn-info' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
