<div class="card text-white mx-auto col-lg-4 col-md-6 col-sm-4">
  <h2 class="mb-4"><strong>Let's go!</strong></h2>
  <div class="challenges" data-controller="challenges">
    <% @journey.challenges.each do |challenge| %>
    <div class="challenge">
      <%= render partial: 'challenges/challenge', locals: { journey: @journey, challenge: challenge } %>
    </div>
    <% end %>
    <div class="mx-auto">
      <% completed = @journey.challenges.select { |challenge| challenge.completed == true } %>
      <% if @journey.challenges.length == completed.length%>
        <%= link_to 'Reward', reward_path(3), class: 'reward-btn btn btn-info mt-4' %>
      <% end %>
    </div>
  </div>
</div>
